* html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fonts
@font-face {
  font-family: pjs-reg;
  src: url(../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf);
}

@font-face {
  font-family: pjs-semi-b;
  src: url(../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf);
}

// colors
$pale-purple: #666ca3;
$darkets-purple: #13183f;
$grey: #83869a;
$hot-pink: #f74780;
$light-pink: #ffa7c3;
$gradient1: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$gradient1-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  ),
  linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$gradient2: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

body {
  font-size: 16px;
  color: $grey;
  font-family: pjs-reg;

  .container {
    header {
      height: 98vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1%;

      nav,
      .heading,
      .description,
      .hero-img {
        width: 100%;
      }

      nav {
        height: 48px;
        height: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          img {
            width: 89px;
            height: 35px;
          }
        }

        button {
          border: none;
          width: 140px;
          height: 48px;
          border-radius: 28px;
          font-weight: 700;
          background-color: $darkets-purple;
          color: white;
          transition: all 0.35s ease-in-out;

          &:hover {
            cursor: pointer;
            background-color: $pale-purple;
          }
        }
      }

      .heading {
        width: 100%;
        height: 12%;
        font-family: pjs-semi-b;
        font-size: 2rem;
        font-weight: 800;
        color: $darkets-purple;
      }

      .description {
        height: 22%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
          border: none;
          width: 140px;
          height: 48px;
          border-radius: 28px;
          font-weight: 700;
          background: $gradient1;
          color: white;
          transition: all 0.35s ease-in-out;

          &:hover {
            cursor: pointer;
            background: $gradient1-hover;
          }
        }
      }

      .hero-img {
        height: 50%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
