* html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$pale-purple: #666ca3;
$darkets-purple: #13183f;
$grey: #83869a;
$hot-pink: #f74780;
$light-pink: #ffa7c3;
$gradient1: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$gradient2: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

body {
}
